<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
  <meta name="keywords" content="{$SEO['keyword']}">
  <meta name="description" content="{$SEO['description']}">
  <link rel="shortcut icon" href="{WEB_PATH}favicon.ico">
  <link rel="stylesheet" href="{WEB_PATH}style/css/global.css?v0.1.0" type="text/css" charset="UTF-8" />
  <link rel="stylesheet" href="{WEB_PATH}style/css/style.css?v0.1.0" type="text/css" charset="UTF-8" />
  <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="{WEB_PATH}style/js/global.js?v1.0.1" type="text/javascript" charset="utf-8"></script>
  <script src="{WEB_PATH}style/js/style.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  <div id="header">
    <div class="top">
      <div class="container">
        <h1>股票资讯网</h1>
      </div>
    </div>
    <div class="menu">
      <div class="container">
        <ul class="clear top">
          {pc:content action="category" catid="0" siteid="$siteid" order="listorder ASC"} {loop $data $r}
          <!--{if}如果是当前栏目,或者父栏目是当前$r[catid],或者是父级的父级==$r[catid] 则 添加 action类-->
          <li class='fl top {if ($r[catid] == $catid ) || ($CATEGORYS[$parentid][catid] == $r[catid])|| ($CATEGORYS[$CATEGORYS[$parentid][catid]][catid]  ==  $r[catid]  )}active{/if}'>
            <a href="{$r[url]}">{$r[catname]}</a>
            {if $CATEGORYS[$r[catid]][child] }
            <ul class="sub">
              {pc:content action="category" catid="$r[catid]" siteid="$siteid" } {loop $data $rr}
              <li class='sub'><a href="{$rr[url]}">{$rr[catname]}</a></li>
              {/loop} {/pc}
            </ul>
            {/if}
          </li>
          {/loop} {/pc}

        </ul>
      </div>

    </div>

  </div>
  <div id="ad" class='container'>
    <a href="">欢迎加入股票资讯网资讯3群，群号：531391440 &nbsp; &nbsp; 免费股票资讯微信：igumin888 &nbsp; &nbsp; 股票技巧微信：xuechaogu2017&nbsp; &nbsp; 免费加入哦!</a>
  </div>
  <!--#wrap 本页未结束  下部分应有div#main.fl 缺一个/div-->
  <div class="container clear">
    <!--sidebar-->
    <div id="sidebar" class="fr">
      <div class="share">
        <a href="" class='weibo'>
          <div class="show">
            新浪微博
            <span class="arrow"></span>
          </div>
        </a>
        <a href="" class='wechat'>
          <div class="show">
            <h3>订阅号:#$%#@#@%</h3>
            <img src="{WEB_PATH}style/images/QRcode_share.jpg" alt="">
            <span class="arrow"></span>
          </div>
        </a>
      </div>

      <div class="add">
        <p class="header red">免费添加微信 成就股市梦想</p>
        <h3>免费添加<span class="red">股票名家观点+重点内参资讯</span>微信</h3>
        <h3>微信号：igumin888</h3>
        <a href="" class='wechat1'>
        <img src="{WEB_PATH}style/images/wechat1.png" alt="">
      </a>
        <h2>免费添加<span class="red">股票技巧学习</span>微信</h2>
        <h3>微信号：xuechaogu2017</h3>
        <a href="" class='wechat2'>
        <img src="{WEB_PATH}style/images/wechat2.png" alt="">
      </a>
      </div>


     
    </div>





    <!--
    主体结构

    div#wrap
      div#sidebar.fr

  *end header部分
  *index部分

      div#main.fl
    /div#wrap
  *end index部分    
  
  -->