{template "content","header"}

  <div id="main" class="fl">
    <div class="nav"><a href="{WEB_PATH}" class="home"></a>&nbsp;&gt;&nbsp;{catpos($catid)} <span>{$title}</span></div>
    <div class="header">
      <h3>{$title}</h3>
      <div class="mes">
        <a href="{$CATEGORYS[$catid][url]}" class="superior">{$CATEGORYS[$catid][catname]} </a>
        <a href="{WEB_PATH}" class="user">股票咨讯网</a>
        <span class="time">{$inputtime}</span>

        <!--phpcms 内容页 点击量-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <span class="view"><span id="hits"></span>次浏览</span>
        <script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
        <!--end phpcms 内容页 点击量-->
      </div>
    </div>

    <div class="body">
      {$content}
      <hr>
      <div class="wechat">
        <div class="top"></div>
        <p><a href="">欢迎添加免费<span class="red">股票</span></a>资讯微信：<span class="bold">igumin888</span></p>
        <p><a href="">欢迎添加免费<span class="red">股票</span></a>技巧微信：<span class="bold">xuechaogu2017</span></p>
      </div>

      <hr>
    </div>
  
  </div>
</div>
{template "content","footer"}