.fl{float:left;}
.fr{float:right;}
.clear{zoom: 1;}
.clear:after{content: '';display: block;clear: both;}

.form input{display: inline-block; margin-left:20px; width: 220px; height: 26px; padding: 9px; border: 1px solid #000; line-height: 26px; font-family: '\5FAE\8F6F\96C5\9ED1'; font-size: 18px; }
.form input.name{width:180px;}
.form input.tel{width:120px;}
.form input.verify{width:100px;}
.form input.getVerify{width:140px;height:46px;cursor: pointer;background:#ff000e;border-radius:4px;color:#fff;border: 1px solid #900;}
.form input.sub{width:200px;height:46px;cursor: pointer;background:#ff000e;border-radius:4px;color:#fff;font-size: 22px;border: 1px solid #900;}
.form p.hint{text-align: right;font-size:12px;padding-right:40px;padding-top:10px;}


/*弹出层*/
#SonContent1 form .labelDiv{line-height: 40px;padding-bottom:10px;height:40px;}
#SonContent1 form .labelDiv input{height:40px;padding: 0 0 0 10px; width:270px;border:1px solid #ccc;color:#666;}
#SonContent1 form .labelDiv .verify{width:140px;}
#SonContent1 form .labelDiv .getVerify{width:130px;margin:0;padding:0;border-radius: 0;height: 42px;color:#fff;border:none;}
#SonContent1 form .sub{background: #f30;margin:20px auto 0;display: block;border:none;width:300px;margin-top:40px;background:#ff000e;}
#SonContent1 form p.hint{text-align: center;padding: 10px 0 0;}

